.pupila-inferior-left{
    grid-area: 3 / 1 / span 1 / span 1;
}
.pupila-inferior-right{
    grid-area: 3 / 3 / span 1 / span 1;
}
.pupila-superior-left{
    grid-area: 1 / 1 / span 1 / span 1;
}
.pupila-superior-right{
    grid-area: 1 / 3 / span 1 / span 1;
}

.lampara-1-active,
.lampara-2-active,
.lampara-3-active,
.lampara-4-active{
    background-color: yellow;
}
.ojo-loco-active button{
    opacity: 0;
}

.pupila-a-loca{
    background-color: #000000;
    grid-area: 2 / 2 / span 1 / span 1;
    animation: pupila-a-loca 0.7s infinite;
}
.pupila-b-loca{
    background-color: #000000;
    grid-area: 2 / 2 / span 1 / span 1;
    animation: pupila-b-loca 0.7s infinite;
}

@keyframes pupila-a-loca{
    0%{
        transform: translate(-1rem,0);
    }
    11.1%{
        transform: translate(-1rem,-1rem);
    }    
    22.2%{
        transform: translate(0,-1rem);
    }
    33.3%{
        transform: translate(1rem,-1rem);
    }
    44.4%{
        transform: translate(1rem,0);
    }
    55.5%{
        transform: translate(1rem,1rem);
    }    
    66.6%{
        transform: translate(0,1rem);
    }
    77.7%{
        transform: translate(-1rem,1rem);
    }
    88.8%{
        transform: translate(-1rem,1rem);
    }
    100%{
        transform: translate(-1rem,0);
    }
}
@keyframes pupila-b-loca{
    0%{
        transform: translate(-1rem,0);
    }
    11.1%{
        transform: translate(-1rem,-1rem);
    }    
    22.2%{
        transform: translate(0,-1rem);
    }
    33.3%{
        transform: translate(1rem,-1rem);
    }
    44.4%{
        transform: translate(1rem,0);
    }
    55.5%{
        transform: translate(1rem,1rem);
    }    
    66.6%{
        transform: translate(0,1rem);
    }
    77.7%{
        transform: translate(-1rem,1rem);
    }
    88.8%{
        transform: translate(-1rem,1rem);
    }
    100%{
        transform: translate(-1rem,0);
    }
}